<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- template('head') %>
    <title>Lightblub</title>
  </head>

  <body>
    <header>
      <h1>Lightbulb</h1>
      <%- template('navbar', {client, req, user}) %>
    </header>
    <% if (!profile) { %>
    <p>
      You do not have a profile. Please run at least one command so I can
      generate one for you!
    </p>
    <% } else { %>
    <p>
      Hi, thanks for using Lightbulb! In return, you get this profile which
      anyone can see by typing <code>bulb info &lt;user&gt;</code>
    </p>
    <% } %>
    <main>
      <h3>User Stats</h3>
      <b>Commands used:</b>
      <%= profile.commands.length %> (<%-
      (profile.commands.length/commands.size).toFixed(2) %>%)
      <br />
      <b>Achievements: </b>
      <%= [...(new Set(profile.achievements))].length %>/<%=
      Object.keys(Achievement).filter(v=> !isNaN(+v)).length %> (<%= [...(new
      Set(profile.achievements))].map(v=> Achievement[v]).join( `,
      `.replace(/\s+$/, ' ')) %>)
      <br />
    </main>
  </body>
</html>
